<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="description" content="Gideon Kimaiyo Personal Portfolio" />
    <meta
      name="keywords"
      content="Portfolio, Gideon Kimaiyo, Personal Portfolio"
    />
    <meta name="author" content="Gideon Kimaiyo" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/public/icons/favicon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="180x180"
      href="/public/icons/favicon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="/public/favicon.ico" />
  </head>

  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
